# Environnement virtuel
.venv/
venv/
__pycache__/
*.pyc

# Base de données locale
*.db

# Git
.git/

# Vscode
.vscode

# Config et données sensibles (montées en volume au runtime, pas dans l'image)
.env
inputs/

#demo
*.mp4