# Environnement virtuel
.venv/
venv/
__pycache__/
*.pyc

# Config sensible
.env

# Vscode 
.vscode

# Clode info
.claude

# Base de données locale
*.db

# Folders with sensitive files
data/
input/config.yaml
app/static/