# Environnement virtuel
.venv/
venv/
__pycache__/
*.pyc

# Config sensible
.env

# Clode info
.claude

# Base de données locale
*.db

# Folders with sensitive files
data/
inputs/
app/static/

# Compressed files
*.tar