fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
jinja2==3.1.4
python-multipart==0.0.9
psycopg2-binary==2.9.9
passlib==1.7.4
bcrypt==4.0.1
itsdangerous==2.2.0
qrcode[pil]==7.4.2
python-dotenv==1.0.1
pyyaml==6.0.2
filelock==3.16.1
sqlalchemy==2.0.35
pandas==2.2.3
sib-api-v3-sdk==7.6.0
icalendar==7.2.2