{% extends "base.html" %}
{% block title %}Connexion organisateur{% endblock %}
{% block content %}
<div class="card">
  <h2>Connexion organisateur</h2>
  {% if erreur %}<p style="color:#a13b3b;">{{ erreur }}</p>{% endif %}
  <form method="post" action="/organisateur/login">
    <label>Adresse e-mail</label>
    <input type="email" name="login" required>
    <label>Mot de passe</label>
    <input type="password" name="password" required>
    <p style="margin-top: 20px;">
      <button class="button" type="submit">Se connecter</button>
    </p>
  </form>
  <p style="margin-top: 20px;">
    <a href="/organisateur/request-password-reset">Je me connecte pour la première fois / j'ai oublié mon mot de passe</a>
  </p>
  <p style="margin-top: 20px;">
    <a href="/">← Retour à l'accueil</a>
  </p>
</div>
{% endblock %}
